body {
	background-color: skyblue;
	margin: 0 0 0 0;
}

nav {
	background-color: deepskyblue;
	width: 100vw;
	height: 64px;
}

.DD {
	display: inline-block;
	position: relative;
}

.menuDD {
	background-color: #009fff;
	padding: 0px 24px;
	text-align: center;
	min-width: auto;
	height: 64px;
	line-height: 64px;
	font-size: 42px;
	font-family: 'Lucida Sans', Verdana, sans-serif;
}

.DDtable {
	display: none;
	position: absolute;
	background-color: #009fff;
	min-width: auto;
	white-space: nowrap;
}

.DDtable a {
	display: block;
	font-size: 24px;
	padding: 6px 8px;
}

.DD:hover .menuDD {
	background-color: #007fff;
}

.DDtable a:hover {
	background-color: #007fff;
}

.DD:hover .DDtable {
	display: block;
}
